#blog-category {
  margin-top: 80px;
}

#blog-category .blog-post-container {
  margin-bottom: 40px;
}

#blog-category .blog-post-img {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
}

#blog-category .blog-post-img:hover img {
  transform: scale(1.2);
}

#blog-category .blog-post-img img {
  width: 100%;
  transition: all ease 1s;
}

#blog-category .blog-post-text {
  margin-top: 20px;
}

#blog-category .blog-post-text .title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

#blog-category .blog-post-text .date {
  color: #bbb;
  font-size: 16px;
}

#blog-category .blog-post-text .date i {
  margin-right: 8px;
}

#blog-category .blog-category-pagination {
  display: flex;
}

#blog-category .blog-category-pagination .button {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
  cursor: pointer;
}

#blog-category .blog-category-pagination-number {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0 10px;
  align-items: end;
}

#blog-category .blog-category-pagination-number .etc {
  margin: 0 10px;
  font-size: 25px;
}

#blog-category .blog-category-pagination .button a,
#blog-category .blog-category-pagination .button i {
  font-size: 20px;
}

#blog-category .blog-category-pagination .button:hover {
  background-color: var(--blue-4);
}

#blog-category .blog-category-pagination .button:hover a,
#blog-category .blog-category-pagination .button:hover i {
  color: #fff;
}

#blog-category .blog-category-list,
#blog-category .blog-category-suggest {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

#blog-category .blog-category-list .title,
#blog-category .blog-category-suggest .title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

#blog-category .blog-category-list ul {
  padding: 0;
  list-style: none;
}

#blog-category .blog-category-list ul li {
  margin: 5px 0;
}

#blog-category .blog-category-list ul li a {
  color: #838383;
  font-size: 16px;
}

#blog-category .blog-category-list ul li a:hover {
  color: #000;
}

#blog-category .blog-category-list ul li a i {
  font-size: 16px;
  margin-right: 8px;
  color: #838383;
}

#blog-category .blog-category-suggest-post {
  margin: 20px 0;
}

#blog-category .blog-category-suggest-post:last-child {
  margin-bottom: 0;
}

#blog-category .blog-category-suggest-post a {
  display: flex;
}

#blog-category .blog-category-suggest-post-img {
  width: 30%;
  overflow: hidden;
  margin-right: 10px;
}

#blog-category .blog-category-suggest-post-img img {
  width: 100%;
}

#blog-category .blog-category-suggest-post .title {
  font-size: 16px;
  margin-bottom: 0;
}
