/* START DEFINE */

#define {
  margin-top: 150px;
}

#define .define-img,
#define .define-img img {
  width: 100%;
}

#define .define-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#define .define-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#define .define-content h2 {
  font-size: 30px;
  color: var(--blue-4);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
}

#define .define-content p {
  font-size: 18px;
  font-weight: 500;
}

/* END DEFINE */

/* START COMPARE */
#compare {
  margin: 80px 0;
}

#compare h2 {
  font-size: 30px;
  color: var(--blue-4);
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

#compare p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 80px;
}

#compare .compare-item {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: skewX(-10deg);
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#compare .col-lg-6:nth-of-type(2) .compare-item {
  margin-top: 80px;
  align-items: end;
}

#compare .col-lg-6:nth-of-type(1) .compare-item .title {
  transform: translateX(-100px);
}
#compare .col-lg-6:nth-of-type(2) .compare-item .title {
  transform: translateX(100px);
}

#compare .compare-item .title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-3);
  box-shadow: inset 5px 5px var(--blue-2);
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
}

#compare .compare-item .title h3 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}

#compare .compare-item p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: justify;
  margin: 20px 0;
}

/* END COMPARE */

/* START SLOGAN  */
#slogan {
  margin-top: 160px;
}

#slogan h2 {
  font-size: 30px;
  color: var(--blue-4);
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

#slogan p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

#slogan .slogan-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0;
}

#slogan .slogan-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 60px;
  gap: 60px;
}

#slogan .slogan-list:nth-child(1) {
  transform: rotate(45deg) translate(-50px, -100px);
}
#slogan .slogan-list:nth-child(2) {
  flex-direction: column-reverse;
  transform: rotate(45deg) translate(50px, 100px);
}

#slogan .slogan-item {
  --dims: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--dims);
  width: var(--dims);
}

#slogan .slogan-item .slogan-text {
  transform: rotate(-45deg) translate(30px, 0);
}

#slogan .slogan-item h3 {
  width: 80%;
  text-align: center;
}

#slogan .slogan-item p {
  width: 80%;
}

#slogan .slogan-item:nth-child(1) {
  background-color: var(--blue-4);
}

#slogan .slogan-item:nth-child(1) h3,
#slogan .slogan-item:nth-child(1) p {
  color: #fff;
}

/* END SLOGAN  */

/* START POINT */
#point {
  margin-top: 80px;
}

#point h2 {
  font-size: 30px;
  color: var(--blue-4);
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

#point .point-container {
  width: 100%;
  margin-top: 50px;
  position: relative;
}

#point .point-container::after {
  content: "";
  position: absolute;
  width: 33%;
  height: 79%;
  border-radius: 100%;
  border: 2px solid var(--blue-4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#point .point-heading-row:nth-child(1) .point-heading,
#point .point-heading-row:nth-child(5) .point-heading {
  flex-direction: column;
}

#point .point-heading-row:nth-child(1) .point-heading,
#point .point-heading-row:nth-child(2) .point-heading,
#point .point-heading-row:nth-child(3) .point-heading,
#point .point-heading-row:nth-child(4) .point-heading,
#point .point-heading-row:nth-child(5) .point-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

#point .point-heading-row:nth-child(2) .col-lg-6:nth-child(1) .point-heading {
  transform: translateX(16%);
}
#point .point-heading-row:nth-child(2) .col-lg-6:nth-child(2) .point-heading {
  transform: translateX(-15%);
}

#point .point-heading-row:nth-child(3) .col-lg-6:nth-child(1) .point-heading {
  transform: translateX(9%);
}
#point .point-heading-row:nth-child(3) .col-lg-6:nth-child(2) .point-heading {
  transform: translateX(-10%);
}

#point .point-heading-row:nth-child(4) .col-lg-6:nth-child(1) .point-heading {
  transform: translateX(9%);
}
#point .point-heading-row:nth-child(4) .col-lg-6:nth-child(2) .point-heading {
  transform: translateX(-8%);
}

#point .point-heading-row:nth-child(5) .point-heading {
  transform: translateY(10%);
}

#point .point-heading i {
  font-size: 30px;
  color: var(--blue-4);
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: #fff;
  transition: all ease 0.3s;
  cursor: pointer;
}

#point .point-heading i:hover,
#point .point-heading.active i {
  color: #fff;
  background-color: var(--blue-4);
}

#point .point-heading-row:nth-child(1) .point-heading i,
#point .point-heading-row:nth-child(5) .point-heading i {
  margin: 20px 0;
}

#point .point-heading-row:nth-child(2) .point-heading i,
#point .point-heading-row:nth-child(3) .point-heading i,
#point .point-heading-row:nth-child(4) .point-heading i {
  margin: 0 20px;
}

#point .point-heading h3 {
  font-size: 18px;
  margin: 0;
  text-align: center;
}

#point .point-container .point-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: fit-content;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#point .point-content-item {
  display: none;
}
#point .point-content-item.active {
  display: block;
  animation: jellyIn ease 0.3s;
}

#point .point-content-item h3 {
  color: var(--blue-4);
  padding: 10px 20px;
  border-bottom: 1px solid var(--blue-4);
  margin: 0 auto 20px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  width: fit-content;
  font-size: 20px;
}

#point .point-content-item p {
  text-align: justify;
  font-weight: 500;
  margin-bottom: 0;
}
/* END POINT */

/* START PROCESS */
#process {
  margin-top: 80px;
}

#process h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: var(--blue-4);
  font-weight: 600;
}

#process .process-container {
  width: 100%;
  overflow-y: hidden;
}

#process .process-line {
  width: 100%;
  height: 3px;
  background-color: var(--blue-4);
  position: absolute;
  top: 15%;
  left: 0;
}

#process .process-container::-webkit-scrollbar {
  background-color: #fff;
  height: 8px;
  cursor: pointer;
}

#process .process-container::-webkit-scrollbar-thumb {
  background-color: var(--blue-4);
  transition: all ease 0.3s;
}

#process .process-line::after,
#process .process-line::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: var(--blue-4);
  top: 50%;
  transform: translateY(-50%);
}

#process .process-line::before {
  left: 0;
}

#process .process-line::after {
  right: 0;
}

#process .process-list {
  min-width: fit-content;
  padding: 20px 100px 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  gap: 60px;
}

#process .process-list .process-item {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#process .process-item i {
  font-size: 30px;
  padding: 20px 18px;
  border-radius: 50px;
  border: 2px solid var(--blue-4);
  background-color: #fff;
  color: var(--blue-4);
  position: relative;
}

#process .process-item-text {
  padding: 30px 15px 20px;
  margin-top: 30px;
  border: 1px solid var(--blue-4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#process .process-item-text h3 {
  font-size: 16px;
  text-align: center;
  color: var(--blue-4);
  font-weight: 600;
  margin-bottom: 20px;
  flex: 0.5;
}

#process .process-item-text p {
  flex: 1;
  font-weight: 500;
}

/* END PROCESS */

/* START REASON */
#reason {
  background-color: var(--blue-4);
  padding: 100px 0;
  padding-top: 50px;
  margin-top: 80px;
}

#reason h2 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

#reason .reason-number-container .number {
  font-size: 120px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

#reason .reason-number-container .text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
/* END REASON */

/* START PROJECT */
#project h4 {
  font-weight: 600;
}

#project h4 span {
  text-transform: capitalize;
}

#project .row {
  margin-top: 50px;
}
/* END PROJECT */

/* START FORM */
#client {
  margin-top: 80px;
  padding: 80px 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(9, 78, 161, 1) 100%
  );
}

#client h2 {
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: var(--blue-4);
}

#client .container {
  margin-top: 100px;
  border-radius: 10px;
}

#client .container .row {
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 100px;
}

#client .form-container,
#client .video-container {
  padding: 50px;
}

#client .video-container {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#client .form-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#client .form-container h3 {
  text-align: center;
  font-weight: 600;
  color: var(--blue-4);
  text-transform: capitalize;
  margin-bottom: 30px;
}

#client .form-container label {
  font-weight: 500;
}

#client .form-container input,
#client .form-container textarea {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--blue-1);
  width: 100%;
  margin: 0px 0 20px;
  padding: 5px 0;
  resize: none;
}

#client .form-container input:focus,
#client .form-container textarea:focus {
  border-bottom: 2px solid var(--blue-4);
}

#client .form-container .button {
  border: 0px solid transparent;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--orange);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  animation: shake 0.3s ease infinite alternate;
}

#client .video-container .video {
  flex: 1;
}

#client .video-container h3 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  color: var(--blue-4);
  text-transform: capitalize;
  margin-bottom: 66px;
}

/* END FORM */

/* START SEO CONTENT */
#seo-content {
  margin-top: 80px;
}

#seo-content h2 {
  font-size: 100px;
  text-align: center;
  font-weight: 600;
  color: var(--blue-4);
}
/* END SEO CONTENT */

/* START BLOG */
#blog {
  margin-top: 80px;
  padding: 80px 0;
  background-color: var(--blue-4);
}

#blog h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #fff;
}

#blog .blog-item {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
}

#blog .blog-item-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

#blog .blog-item-img img {
  width: 100%;
  transition: all ease 0.5s;
}

#blog .blog-item-img img:hover {
  transform: scale(1.1);
}

#blog .blog-item-text {
  padding: 20px;
  margin-top: 20px;
}

#blog .blog-item-text a {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

#blog .blog-item-text p {
  font-size: 16px;
  font-weight: 500;
}
/* END BLOG */

/* START FOOTER */
#footer {
  margin-top: 0;
}
/* END FOOTER */

/* START FQA */
#faq h2 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  color: var(--blue-4);
}
/* END FQA */
