/* MOBILE */

@media (max-width: 540px) {
  /* START HEADER */
  .menu-container {
    display: none;
  }
  .search-container {
    display: none;
  }

  .m-menu {
    display: block;
  }

  .m-menu .menu-btn {
    background-color: #fff;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .m-menu .menu-btn i {
    font-size: 25px;
  }
  /* END HEADER */

  /* START BANNER */

  #banner {
    padding: 80px 0 0;
    background-size: 175%;
  }

  #banner .container {
    margin-bottom: 40px;
  }

  #banner h1 {
    font-size: 20px;
  }

  #banner h1 span {
    font-size: 25px;
  }

  #banner .btn-container .btn-item {
    padding: 5px 15px;
  }

  #banner .banner-m {
    width: 400px;
    display: flex;
    overflow: visible;
  }

  #banner .banner-p {
    display: none;
  }

  #banner .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
  }

  #banner .swiper-slide-next {
    transform: unset;
  }

  #banner .swiper-slide img {
    width: 80%;
  }

  /* END BANNER */

  /* START SERVICE */
  #service {
    display: none;
  }

  #m-service {
    display: block;
    margin-top: 100px;
    padding-bottom: 150px;
    position: relative;
  }

  #m-service h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
  }

  #m-service h4 i {
    width: fit-content;
  }

  #m-service h4 i span {
    display: block;
    text-align: center;
  }

  #m-service > img {
    position: absolute;
    z-index: -1;
    top: -30%;
    left: 0;
    width: 100%;
  }

  #m-service h4 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue-4);
    font-weight: 800;
    margin-bottom: 50px;
  }

  #m-service h4 i {
    font-size: 20px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 20%);
    background-color: #fff;
  }

  #m-service .service-container {
    display: flex;
    flex-direction: column;
  }

  #m-service .service-container .service-tag-item p {
    width: fit-content;
    width: 100%;
    padding: 10px 0;
    max-width: 200px;
    color: #fff;
    border-radius: 30px;
    text-align: center;
  }

  #m-service .service-container .service-tag-item:nth-child(1) p {
    background-color: var(--blue-5);
  }
  #m-service .service-container .service-tag-item:nth-child(2) p {
    background-color: var(--blue-4);
  }
  #m-service .service-container .service-tag-item:nth-child(3) p {
    background-color: var(--green);
  }
  #m-service .service-container .service-tag-item:nth-child(4) p {
    background-color: var(--orange);
  }
  #m-service .service-container .service-tag-item:nth-child(5) p {
    background-color: var(--orange-2);
  }

  #m-service .service-card-container {
    height: 650px;
    margin-top: 10px;
    position: relative;
  }

  #m-service .service-card-item-img {
    text-align: center;
  }

  #m-service
    .service-card-container
    .service-card-item
    .service-card-item-img
    img {
    width: 75%;
    opacity: 0;
    transition: all ease 0.7s;
  }

  #m-service .service-card-container .service-card-item {
    --top-dims: 6.5%;
    position: absolute;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    min-width: 100%;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
    left: 0;
  }

  #m-service .service-card-container .service-card-item:nth-child(1) {
    background-color: var(--blue-5);
    z-index: 5;
    top: 0;
  }

  #m-service .service-card-container .service-card-item:nth-child(2) {
    background-color: var(--blue-4);
    z-index: 4;
    top: calc(var(--top-dims));
    transform: scale(0.95);
  }

  #m-service .service-card-container .service-card-item:nth-child(3) {
    background-color: var(--green);
    z-index: 3;
    top: calc(var(--top-dims) * 2);
    transform: scale(0.9);
  }

  #m-service .service-card-container .service-card-item:nth-child(4) {
    background-color: var(--orange);
    z-index: 2;
    top: calc(var(--top-dims) * 3);
    transform: scale(0.85);
  }

  #m-service .service-card-container .service-card-item:nth-child(5) {
    background-color: var(--orange-2);
    z-index: 1;
    top: calc(var(--top-dims) * 4);
    transform: scale(0.8);
  }

  #m-service .service-card-container .service-card-item.active {
    z-index: 5;
    top: 0 !important;
    left: 0 !important;
    transform: scale(1) !important;
  }
  #m-service
    .service-card-container
    .service-card-item.active
    .service-card-item-img
    img {
    opacity: 1;
  }

  #m-service
    .service-card-container
    .service-card-item
    .service-card-item-content {
    opacity: 0;
    transition: all ease 0.7s;
  }
  #m-service
    .service-card-container
    .service-card-item.active
    .service-card-item-content {
    opacity: 1;
  }

  #m-service
    .service-card-container
    .service-card-item:nth-child(1)
    .service-card-item-content {
    opacity: 1;
  }

  #m-service .service-card-item-content h4,
  #m-service .service-card-item-content .button,
  #m-service .service-card-item-content li {
    color: #fff;
    text-align: left;
    margin: unset;
    font-weight: 600;
  }

  #m-service .service-card-item-content h4 {
    margin-top: 20px;
    text-align: center;

    font-size: 25px;
  }

  #m-service .service-card-item-content ul {
    list-style: none;
    padding-left: 0;
    margin: 30px 0;
  }

  #m-service .service-card-item-content ul li {
    margin: 5px 0;
    font-size: 15px;
  }
  #m-service .service-card-item-content ul li i {
    margin-right: 5px;
    font-size: 12px;
  }

  #m-service .service-card-item-content .button {
    background-color: var(--orange);
    border-radius: 30px;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    margin: auto;
    animation: shake ease 0.3s infinite alternate-reverse;
  }

  #m-service .service-card-container .service-card-item:nth-child(3) .button {
    background-color: var(--blue-4);
  }

  #m-service .service-card-item-content .button i {
    margin-left: 5px;
  }

  /* END SERVICE */

  /* START CATEGORY */
  .p-category {
    display: none;
  }

  .m-category {
    display: block;
  }

  #category h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
  }

  #category h4 i {
    width: fit-content;
  }

  #category h4 i span {
    display: block;
    text-align: center;
  }

  #category .category-item-img {
    height: 100px;
  }

  .m-category .swiper-wrapper {
    margin-bottom: 30px;
  }
  /* END CATEGORY */

  /* START PROJECT */

  #project h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
  }

  #project h4 i {
    width: fit-content;
  }

  #project h4 i span {
    display: block;
    text-align: center;
  }

  .p-project {
    display: none;
  }
  .m-project {
    display: block;
  }
  /* START PROJECT */

  /* START TESTIMONIALS */

  #testimonials h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
  }

  #testimonials h4 i {
    width: fit-content;
  }

  #testimonials h4 i span {
    display: block;
    text-align: center;
  }

  #testimonials .testimonials-m {
    width: 375px;
    display: flex;
  }

  #testimonials .swiper-slide.swiper-slide-next {
    transform: unset;
  }

  #testimonials .swiper-pagination {
    display: block;
  }

  #testimonials .swiper-pagination-fraction,
  #testimonials .swiper-pagination-custom,
  #testimonials .swiper-horizontal > .swiper-pagination-bullets,
  #testimonials .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -60px;
  }

  #testimonials .swiper-pagination-bullet-active {
    background: #fff;
  }

  #testimonials .container .row {
    margin-top: 100px;
  }

  #testimonials .form-container,
  #testimonials .video-container {
    padding: 20px;
  }

  #testimonials .form-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom: 2px dashed #ccc;
  }

  #testimonials .video-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
  }

  #testimonials .testimonials-p {
    display: none;
  }

  #testimonials .swiper-slide {
    padding: 0 20px;
  }

  #testimonials .swiper-slide.swiper-slide-active .testimonials-wrapper,
  #testimonials .swiper-slide.swiper-slide-active {
    transform: scale(1.1);
  }

  /* END TESTIMONIALS */

  /* START CLIENT */
  #client .client-pc {
    display: none;
  }

  #client .client-m {
    display: flex;
  }
  /* END CLIENT */

  /* START FAQ */

  #faq h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
  }

  #faq h4 i {
    width: fit-content;
  }

  #faq h4 i span {
    display: block;
    text-align: center;
  }

  #faq .faq-content-container {
    padding-left: unset;
  }

  #faq .faq-img {
    text-align: center;
    margin-bottom: 30px;
  }

  #faq .faq-img img {
    width: 85%;
  }

  #faq .faq-content-item .faq-question p {
    width: 90%;
    font-size: 16px;
  }
  /* END FAQ */

  /* START FOOTER */
  #footer .social-link-container {
    margin: 25px 0;
  }
  /* END FOOTER */

  /* START CONTACT FORM */
  #contact-form {
    margin-top: 30px;
  }

  #contact-form .contact-form-information {
    margin-top: 50px;
    padding: 0 10px;
  }

  #contact-form .contact-form-maps {
    padding: 0 10px;
  }
  /* END CONTACT FORM */

  /* START BLOG CATEGORY */
  #blog-category .blog-post-img {
    height: unset;
  }
  #project .project-pagination,
  #blog-category .blog-category-pagination {
    margin-bottom: 30px;
  }
  #project .project-pagination .button,
  #blog-category .blog-category-pagination .button {
    width: 40px;
    height: 40px;
  }

  #project .button {
    padding: unset;
  }
  /* END BLOG CATEGORY */

  /* START TEMPLATE DETAIL */
  #template-detail .template-detail-button {
    margin-top: 20px;
    justify-content: center;
  }
  /* END TEMPLATE DETAIL */
}

@media (max-width: 400px) {
  /* START BANNER */
  #banner .btn-container .btn-item {
    font-size: 14px;
  }

  #banner .banner-m {
    width: 380px;
  }
  /* END BANNER */

  /* START TESTIMONIALS */
  #testimonials .testimonials-m {
    width: 380px;
  }
  /* END TESTIMONIALS */

  /* START SERVICE */
  #m-service .service-card-item-content h4 {
    font-size: 23px;
  }

  #m-service .service-container .service-tag-item p {
    font-size: 14px;
  }
  /* END SERVICE */
}
