@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --header-height: 80px;
  --blue-1: #72bced;
  --blue-2: #47b5fd;
  --blue-3: #1262dd;
  --blue-4: #094ea1;
  --blue-5: #032c6a;
  --orange: rgb(255, 123, 52);
  --orange-2: #ffb934;
  --green: #1ebdbd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.content-wrap {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

@keyframes shake {
  0% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes spreadOut {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 40px rgba(255, 123, 52, 10%),
      0 0 50px rgba(255, 123, 52, 10%), 0 0 60px rgba(255, 123, 52, 10%),
      0 0 70px rgba(255, 123, 52, 10%), 0 0 80px rgba(255, 123, 52, 10%),
      0 0 90px rgba(255, 123, 52, 10%), 0 0 100px rgba(255, 123, 52, 10%);
  }
}

/* START HEADER */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

#header .container {
  display: flex;
  height: var(--header-height);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 10;
}

#header .logo {
  width: 80px;
  display: block;
  padding: 10px;
}

#header .logo img {
  width: 100%;
}

#header .menu-link {
  margin: 0 10px;
  font-weight: 500;
}

#header .menu-link i {
  margin-left: 5px;
  font-size: 12px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container i {
  cursor: pointer;
  padding: 12px;
  background-color: var(--orange);
  border-radius: 30px;
  color: #fff;
  transition: all ease 0.3s;
}

.search-container i:hover {
  background-color: #fff;
  color: var(--orange);
}

.search-contact-btn-container {
  display: block;
  width: 100%;
  padding: 10px 20px 10px 70px;
  margin-left: 20px;
  position: relative;
  background-color: var(--orange);
  border-radius: 30px;
  color: #fff;
  transition: all ease 0.3s;
  animation: shake ease 0.3s infinite alternate-reverse;
  font-weight: 600;
}

.search-contact-btn-container:hover {
  background-color: #fff;
  color: var(--orange);
}

.search-contact-btn-container:hover img {
  top: -40%;
}

.search-contact-btn-container img {
  width: 40px;
  position: absolute;
  top: -25%;
  left: 10%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 20%);
  transition: all ease 0.3s;
}

.m-menu {
  display: none;
}

/* END HEADER */

/* START BANNER */

#banner {
  background-image: url("../images/Back.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 250px 0 0;
}

#banner .container {
  margin-bottom: 100px;
}

#banner h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}

#banner h1 span {
  font-size: 40px;
  color: var(--orange);
}

#banner .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .btn-container .btn-item {
  padding: 10px 20px;
  color: #fff;
  border-radius: 30px;
  display: block;
  margin: 0 20px;
  background-color: var(--orange);
  transition: all ease 0.3s;
  font-weight: 600;
}

#banner .btn-container .btn-item:hover {
  background-color: #fff;
  color: var(--orange);
}

#banner .swiper {
  width: 1000px;
  overflow: visible;
}

#banner .swiper-wrapper {
  align-items: center;
}

#banner .swiper-slide {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .swiper-slide img {
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 20%);
  transition: all ease 0.5s;
}

/* END BANNER */

/* START SERVICE */
#service {
  margin-top: 100px;
  padding-bottom: 150px;
  /* background-image: url("../images/background2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  position: relative;
}

#service > img {
  position: absolute;
  z-index: -1;
  top: -30%;
  left: 0;
  width: 100%;
}

#service h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--blue-4);
  font-weight: 800;
  margin-bottom: 170px;
}

#service h4 i {
  font-size: 20px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 20%);
  background-color: #fff;
}

#service .service-container {
  display: flex;
  justify-content: space-between;
}

#service .service-tag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.8;
}

#service .service-container .service-tag-item {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: 15px 0;
  margin: 5px 0;
  transition: all ease 0.3s;
  cursor: pointer;
  position: relative;
}

#service .service-container .service-tag-item:hover {
  /* width: 300px; */
  transform: scale(1.1);
}

#service .service-container .service-tag-item.active {
  margin: 20px 0;
  transform: scale(1.4);
}

#service .service-container .service-tag-item:nth-child(1) {
  background-color: var(--blue-5);
}
#service .service-container .service-tag-item:nth-child(2) {
  background-color: var(--blue-4);
}
#service .service-container .service-tag-item:nth-child(3) {
  background-color: var(--orange);
}
#service .service-container .service-tag-item:nth-child(4) {
  background-color: var(--orange-2);
}
#service .service-container .service-tag-item:nth-child(5) {
  background-color: var(--green);
}

#service .service-container .service-tag-item p {
  margin: 0;
  color: #fff;
  font-size: 18px;
  transition: all ease 0.15s;
}
#service .service-container .service-tag-item:hover p,
#service .service-container .service-tag-item.active p {
  font-weight: 600;
}

#service .service-card-container {
  flex: 2.5;
  margin-left: 30px;
  position: relative;
}

#service .service-card-container .service-card-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  position: absolute;
  min-width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
  gap: 80px;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.65s;
}

#service .service-card-container .service-card-item:nth-child(1) {
  left: 0;
  background-color: var(--blue-5);
  gap: 50px;
}

#service .service-card-container .service-card-item:nth-child(2) {
  left: 85%;
  z-index: 1;
  background-color: var(--blue-4);
}

#service .service-card-container .service-card-item:nth-child(3) {
  left: 88%;
  z-index: 2;
  background-color: var(--orange);
}

#service .service-card-container .service-card-item:nth-child(4) {
  left: 91%;
  z-index: 3;
  background-color: var(--orange-2);
  gap: 90px;
}

#service .service-card-container .service-card-item:nth-child(5) {
  left: 94%;
  z-index: 4;
  background-color: var(--green);
  gap: 90px;
}

#service .service-card-container .service-card-item .service-card-item-img {
  width: 35%;
}

#service .service-card-container .service-card-item .service-card-item-img img {
  width: 100%;
}

#service .service-card-item-content h4,
#service .service-card-item-content .button,
#service .service-card-item-content li {
  color: #fff;
  text-align: left;
  margin: unset;
  font-weight: 600;
}

#service .service-card-item-content ul {
  list-style: none;
  padding-left: 0;
  margin: 30px 0;
}

#service .service-card-item-content ul li {
  margin: 5px 0;
}
#service .service-card-item-content ul li i {
  margin-right: 5px;
  font-size: 12px;
}

#service .service-card-item-content .button {
  background-color: var(--orange);
  border-radius: 30px;
  padding: 10px 20px;
  display: block;
  width: fit-content;
  animation: shake ease 0.3s infinite alternate-reverse;
}

#service .service-card-container .service-card-item:nth-child(3) .button {
  background-color: var(--blue-4);
}

#service .service-card-item-content .button i {
  margin-left: 5px;
}

#m-service {
  display: none;
}

/* END SERVICE */

/* START CATEGORY */

#category {
  /* margin-top: 200px; */
}

.m-category {
  display: none;
}

#category h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--blue-4);
  font-weight: 800;
}

#category h4 i {
  font-size: 20px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}

#category .row {
  margin-top: 80px;
}

#category .category-item {
  display: block;
  margin: 10px 0;
}

#category .category-item p {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

#category .category-item-img {
  width: 100%;
  border-radius: 10px;
  background-image: url("https://minimog-4437.kxcdn.com/supergear/wp-content/uploads/sites/2/2022/02/cat-game-video.jpg");
  background-position: center 0%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 160px;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
}

#category .category-item-img:hover {
  background-size: 115%;
}

/* END CATEGORY */

/* START TESTIMONIALS */

#testimonials {
  margin-top: 80px;
  background-image: url("../images/testimonialsBack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

#testimonials h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}

#testimonials h4 i {
  font-size: 20px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 20%);
  color: #fff;
}

#testimonials .swiper {
  width: 700px;
  overflow: visible;
  margin-top: 80px;
}

#testimonials .swiper-wrapper {
  align-items: center;
}

#testimonials .swiper-slide {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#testimonials .swiper-slide .testimonials-wrapper {
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 10%);
  border-radius: 10px;
  background-color: #fff;
}

#testimonials .swiper-slide .testimonials-title-container {
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  width: 100%;
}

#testimonials .swiper-slide .testimonials-title-container .testimonials-badge {
  font-size: 14px;
  font-weight: 600;
  color: var(--orange);
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}
#testimonials .swiper-slide .testimonials-title-container .testimonials-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--blue-4);
  text-transform: uppercase;
  text-align: center;
}
#testimonials .swiper-slide .testimonials-wrapper .testimonials-content {
  text-align: justify;
  font-size: 14px;
  font-weight: 600;
}

#testimonials .swiper-pagination {
  display: none;
}

/* END TESTIMONIALS */

/* START PROJECT */
#project {
  margin-top: 80px;
  background-image: url("../images/background1.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

#project h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--blue-4);
  font-weight: 800;
}

#project h4 i {
  font-size: 20px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}

#project .row {
  margin-top: 80px;
}

.p-project {
  display: block;
}
.m-project {
  display: none;
}

#project .project-item {
  display: block;
  margin: 20px 0;
  transition: all ease 0.3s;
}

#project .project-item-img {
  width: fit-content;
  height: 500px;
  overflow: hidden;
  border: 1px solid var(--blue-4);
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all ease 0.3s;
  position: relative;
}

#project .project-item-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all ease 1s;
}

#project .project-item-img:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

#project .project-item-img .demo-btn,
#project .project-item-img .detail-btn {
  color: #fff;
  margin: 0;
  background-color: var(--orange);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  transition: left cubic-bezier(0.77, 0, 0.175, 1) 1s,
    right cubic-bezier(0.77, 0, 0.175, 1) 1s,
    transform cubic-bezier(0.77, 0, 0.175, 1) 1s, background-color ease 0.3s,
    color ease 0.3s;
}

#project .project-item-img .demo-btn:hover,
#project .project-item-img .detail-btn:hover {
  background-color: #fff;
  color: var(--orange);
}

#project .project-item-img:hover .demo-btn {
  left: 50%;
  transform: translateX(-50%);
}

#project .project-item-img:hover .detail-btn {
  right: 50%;
  transform: translateX(50%);
}

#project .project-item-img .demo-btn {
  top: 40%;
  left: -40%;
}

#project .project-item-img .detail-btn {
  bottom: 40%;
  right: -40%;
}

#project .project-item-img:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#project .project-item-img img {
  width: 100%;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 2s;
}

#project .project-item-img:hover img {
  transform: translateY(-82%);
  transition: all linear 8s;
}

#project .project-item-title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--blue-4);
  display: block;
  width: fit-content;
  margin: 0px auto 5px;
}

#project .button {
  width: fit-content;
  padding: 12px 30px 10px;
  border-radius: 30px;
  border: 1px solid var(--blue-4);
  color: var(--blue-4);
  font-weight: 600;
  position: relative;
  background-color: #fff;
  transition: all ease 0.3s;
}

#project .button:hover {
  background-color: var(--blue-4);
  color: #fff;
}

#project .button i {
  margin-left: 10px;
  transition: all ease 0.3s;
}

#project .button:hover i {
  transform: translateX(5px);
}

/* END PROJECT */

/* START FORM */
#client-form {
  margin-top: 80px;
}

#client-form .form-container {
  border: 2px solid var(--blue-4);
  border-radius: 10px;
  padding: 30px;
  background-color: #fff;
}

#client-form .form-container h4 {
  text-align: center;
  font-weight: 700;
  color: var(--blue-4);
  text-transform: uppercase;
  margin-bottom: 30px;
}

#client-form .form-container label {
  font-weight: 500;
}

#client-form .form-container input,
#client-form .form-container textarea {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--blue-1);
  width: 100%;
  margin: 0px 0 20px;
  padding: 5px 0;
  resize: none;
}

#client-form .form-container input:focus,
#client-form .form-container textarea:focus {
  border-bottom: 2px solid var(--blue-4);
}

#client-form .form-container .button {
  border: 0px solid transparent;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--orange);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  animation: shake 0.3s ease infinite alternate;
}

/* END FORM */

/* START CLIENT */
#client-form .client-container {
  padding: 30px;
}

#client-form .client-container h4 {
  text-align: center;
  font-weight: 700;
  color: var(--blue-4);
  text-transform: uppercase;
  margin-bottom: 30px;
}

#client-form .client-img {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#client-form .client-img img {
  width: 70%;
}

.p-client {
  display: block;
}
.m-client {
  display: none;
}
/* END CLIENT */

/* START FAQ */
#faq {
  margin-top: 80px;
}

#faq h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--blue-4);
  font-weight: 800;
}

#faq h4 i {
  font-size: 20px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}

#faq .row {
  margin-top: 80px;
}

#faq .faq-content-container {
  padding-left: 30px;
}

#faq .faq-img,
#faq .faq-img img {
  width: 100%;
}

#faq .faq-content-item {
  overflow: hidden;
  height: 100%;
  border-bottom: 1px solid rgba(9, 78, 161, 0.3);
  cursor: pointer;
  margin-top: 15px;
}

#faq .faq-content-item:last-child {
  border-bottom: 0px solid transparent;
}

#faq .faq-content-item .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#faq .faq-content-item .faq-question p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

#faq .faq-content-item .faq-question i {
  margin-left: auto;
}

#faq .faq-content-item .faq-question p,
#faq .faq-content-item .faq-question p span,
#faq .faq-content-item .faq-question i {
  color: #ccc;
  transition: all ease 0.3s;
}

#faq .faq-content-item .faq-question:hover p,
#faq .faq-content-item .faq-question:hover i {
  color: #000;
}
#faq .faq-content-item .faq-question:hover p span {
  color: var(--blue-4);
}

#faq .faq-content-item .faq-answer {
  transition: all ease-in-out 0.3s;
  max-height: 0;
  opacity: 0;
}

#faq .faq-content-item.active .faq-question p {
  color: #000;
}

#faq .faq-content-item.active .faq-question p span {
  color: var(--blue-4);
}

#faq .faq-content-item.active .faq-answer {
  max-height: 600px;
  height: auto;
  opacity: 1;
}

/* END FAQ */

/* START FOOTER */
#footer {
  padding: 50px;
  margin-top: 80px;
  background-color: #eee;
}

#footer h4 {
  font-weight: 700;
  color: var(--blue-4);
  font-size: 20px;
  margin-bottom: 20px;
}

#footer ul {
  padding-left: 0;
  list-style: none;
}

#footer ul li {
  margin: 5px 0;
}
#footer ul li a i {
  font-size: 12px;
  margin-right: 5px;
}

#footer .toggle-container h4 {
  font-weight: 700;
  color: var(--blue-4);
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: fit-content;
}

#footer .toggle {
  display: none;
}

#footer p {
  margin-bottom: 7px;
}

#footer .social-link-container {
  margin-top: 25px;
}

#footer .social-link-container a i {
  font-size: 30px;
  margin: 0 10px;
}

#footer .logo {
  display: block;
  width: 100%;
}

#footer .logo img {
  width: 100%;
}

#footer .certificate-container,
#footer .relative-website-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .certificate-container a,
#footer .relative-website-container a {
  display: block;
}

#footer .certificate-container a img,
#footer .relative-website-container a img {
  width: 100%;
  padding: 10px;
}

/* END FOOTER */
