/* START BANNER */
#banner {
  background: #f1f1f1 url("../images/Back.png") center top no-repeat;
  background-size: 100%;
}
/* END BANNER */

/* START ADVANTAGE */

#advantage {
  padding: 100px 0;
  background-color: #f1f1f1;
}

#advantage h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
  color: var(--blue-4);
  font-weight: 600;
}

#advantage .advantage-img {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

#advantage .advantage-img img {
  width: 80%;
  border-radius: 10px;
}
#advantage .advantage-img img:nth-child(1) {
  align-self: start;
}
#advantage .advantage-img img:nth-child(2) {
  align-self: end;
  transform: translateY(-15%);
}

#advantage .advantage-content h3 {
  font-size: 24px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: var(--blue-4);
  font-weight: 600;
}

#advantage .advantage-content p {
  font-size: 18px;
  text-align: left;
  margin-bottom: 40px;
  font-weight: 600;
}

#advantage .advantage-content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  padding: 30px 40px;
  margin-bottom: 20px;
  transition: all ease 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#advantage .advantage-content-item i {
  font-size: 40px;
  color: var(--blue-4);
  margin-right: 30px;
}

#advantage .advantage-content-item .advantage-content-item-text h4 {
  font-size: 22px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: var(--blue-4);
  font-weight: 600;
}

#advantage .advantage-content-item .advantage-content-item-text p {
  font-size: 16px;
  text-align: left;
  font-weight: 500;
}

/* END ADVANTAGE */

/* START PROJECT */
#project h4 {
  font-weight: 600;
}

#project h4 span {
  text-transform: capitalize;
}

#project .row {
  margin-top: 50px;
}
/* END PROJECT */

/* START INTERFACE */
#interface {
  margin-top: 80px;
}

#interface h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: var(--blue-4);
  font-weight: 600;
}

#interface p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
}

#interface .interface-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#interface .interface-item i {
  font-size: 30px;
  color: #fff;
  padding: 20px;
  border-radius: 50px;
  background-color: var(--blue-4);
  transform: translateY(30px);
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border: 3px solid white;
  transition: all ease 0.3s;
}

#interface .interface-item i:hover {
  transform: translateY(30px) scale(1.1);
}

#interface .interface-item-text {
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  padding: 50px 20px 20px;
  border-radius: 20px;
  height: 100%;
}

#interface .interface-item-text h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

#interface .interface-item-text p {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}

/* END INTERFACE */

/* START ADVICE */
#advice {
  margin-top: 80px;
}

#advice h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: var(--blue-4);
  font-weight: 600;
}

#advice p {
  font-size: 18px;
  text-align: center;
  margin: 0 auto 40px;
  font-weight: 600;
}

#advice .advice-item-img img {
  width: 100%;
  border-radius: 10px;
}

#advice .advice-item-text {
  margin-top: 30px;
}

#advice .advice-item-text h3 {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--blue-4);
  margin-bottom: 20px;
}

#advice .advice-item-text h3 span {
  color: var(--orange);
}

#advice .advice-item-text ul {
  list-style: none;
  padding: 0;
}

#advice .advice-item-text ul li {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}

#advice .advice-item-text ul li p {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin: unset;
}

#advice .advice-item-text ul li i {
  color: var(--blue-4);
  margin: 5px 8px 0 0;
}
/* END ADVICE */

/* START PROCESS */
#process {
  margin-top: 80px;
}

#process h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: var(--blue-4);
  font-weight: 600;
}

#process .process-container {
  width: 100%;
  overflow-y: hidden;
}

#process .process-line {
  width: 100%;
  height: 3px;
  background-color: var(--blue-4);
  position: absolute;
  top: 15%;
  left: 0;
}

#process .process-container::-webkit-scrollbar {
  background-color: #fff;
  height: 5px;
  cursor: pointer;
}

#process .process-container::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: var(--blue-4);
  transition: all ease 0.3s;
}

#process .process-line::after,
#process .process-line::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: var(--blue-4);
  top: 50%;
  transform: translateY(-50%);
}

#process .process-line::before {
  left: 0;
}

#process .process-line::after {
  right: 0;
}

#process .process-list {
  min-width: fit-content;
  padding: 20px 100px 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  gap: 60px;
}

#process .process-list .process-item {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#process .process-item i {
  font-size: 30px;
  padding: 20px 18px;
  border-radius: 50px;
  border: 2px solid var(--blue-4);
  background-color: #fff;
  color: var(--blue-4);
  position: relative;
}

#process .process-item-text {
  padding: 30px 15px 20px;
  margin-top: 30px;
  border: 1px solid var(--blue-4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#process .process-item-text h3 {
  font-size: 16px;
  text-align: center;
  color: var(--blue-4);
  font-weight: 600;
  margin-bottom: 20px;
  flex: 0.5;
}

#process .process-item-text p {
  flex: 1;
  font-weight: 500;
}

/* END PROCESS */

/* START POINT */
#point {
  margin-top: 80px;
  padding: 80px 0 40px;
  background-color: #f1f1f1;
}
#point h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  color: var(--blue-4);
  font-weight: 600;
  margin-bottom: 30px;
}

#point .point-content ul {
  list-style: none;
  padding: 0;
}
#point .point-content ul li {
  margin: 5px 0;
  display: flex;
}

#point .point-content ul li i {
  font-size: 20px;
  color: var(--blue-4);
  margin: 3px 10px 0;
}

#point .point-content ul li p {
  font-size: 18px;
  font-weight: 500;
}

#point .point-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#point .point-img img {
  height: 100%;
  border-radius: 10px;
}
/* END POINT */

/* START CRITERIA */
#criteria {
  padding-top: 40px;
  background-color: #f1f1f1;
}

#criteria h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  color: var(--blue-4);
  font-weight: 600;
  margin-bottom: 40px;
}

#criteria .criteria-item {
  margin-bottom: 40px;
}

#criteria .criteria-img {
  margin-bottom: 20px;
}

#criteria .criteria-img img {
  width: 100%;
  border-radius: 10px;
}

#criteria .criteria-text h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--blue-4);
  text-transform: capitalize;
  margin-bottom: 10px;
}

#criteria .criteria-text p {
  font-size: 16px;
  font-weight: 500;
}
/* END CRITERIA */

/* START JOB CATEGORY */
#job-category {
  margin-top: 80px;
}

#job-category h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  color: var(--blue-4);
  font-weight: 600;
  margin-bottom: 40px;
}

#job-category p {
  font-size: 18px;
  text-align: center;
  margin: 0 auto 40px;
  font-weight: 600;
}

#job-category .job-category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
  height: 300px;
  margin-bottom: 25px;
  background-color: #f1f1f1;
  padding: 20px;
}

#job-category .job-category-item i {
  font-size: 60px;
  color: var(--blue-4);
}

#job-category .job-category-item h3 {
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--blue-4);
}
/* END JOB CATEGORY */

/* START REASON */
#reason {
  background-color: var(--blue-4);
  padding: 100px 0;
  padding-top: 50px;
  margin-top: 80px;
}

#reason h2 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

#reason .reason-number-container .number {
  font-size: 120px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

#reason .reason-number-container .text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
/* END REASON */

/* START PRICE TABLE */
#price-table {
  margin-top: 80px;
}

#price-table h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  color: var(--blue-4);
  font-weight: 600;
  margin-bottom: 40px;
}

#price-table .price-table-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#price-table .price-table-img img {
  width: 50%;
  border-radius: 10px;
}

/* END PRICE TABLE */

/* START FORM */
#client {
  margin-top: 80px;
  padding: 80px 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(9, 78, 161, 1) 100%
  );
}

#client h2 {
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: var(--blue-4);
}

#client .container {
  margin-top: 100px;
  border-radius: 10px;
}

#client .container .row {
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 100px;
}

#client .form-container,
#client .video-container {
  padding: 50px;
}

#client .video-container {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#client .form-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#client .form-container h3 {
  text-align: center;
  font-weight: 600;
  color: var(--blue-4);
  text-transform: capitalize;
  margin-bottom: 30px;
}

#client .form-container label {
  font-weight: 500;
}

#client .form-container input,
#client .form-container textarea {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--blue-1);
  width: 100%;
  margin: 0px 0 20px;
  padding: 5px 0;
  resize: none;
}

#client .form-container input:focus,
#client .form-container textarea:focus {
  border-bottom: 2px solid var(--blue-4);
}

#client .form-container .button {
  border: 0px solid transparent;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--orange);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  animation: shake 0.3s ease infinite alternate;
}

#client .video-container .video {
  flex: 1;
}

#client .video-container h3 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  color: var(--blue-4);
  text-transform: capitalize;
  margin-bottom: 66px;
}

/* END FORM */

/* START SEO CONTENT */
#seo-content {
  margin-top: 80px;
}

#seo-content h2 {
  font-size: 100px;
  text-align: center;
  font-weight: 600;
  color: var(--blue-4);
}
/* END SEO CONTENT */

/* START BLOG */
#blog {
  margin-top: 80px;
  padding: 80px 0;
  background-color: var(--blue-4);
}

#blog h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #fff;
}

#blog .blog-item {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
}

#blog .blog-item-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

#blog .blog-item-img img {
  width: 100%;
  transition: all ease 0.5s;
}

#blog .blog-item-img img:hover {
  transform: scale(1.1);
}

#blog .blog-item-text {
  padding: 20px;
  margin-top: 20px;
}

#blog .blog-item-text a {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

#blog .blog-item-text p {
  font-size: 16px;
  font-weight: 500;
}
/* END BLOG */

/* START FOOTER */
#footer {
  margin-top: 0;
}
/* END FOOTER */
